# ==========================
# Environnement virtuel
# ==========================
.venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Fichiers système
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log